@media (max-width: 1800px){
    #navBarContent{
        margin-right: 3% !important;}
        .desplegado{margin-left: -5em;}
        .rebote{left: 79% !important;}  
}
@media (max-width: 1500px){
    li .contenedorTexto{
        margin-top: 8% !important;
    }
    #navBarContent{
        margin-right: 4% !important;}

        footer .formButton{
            right: 1em;
        }
        #footertextcontainer{
            margin-left: 10%;
        }            
    }

@media (max-width: 1350px){
    li .contenedorTexto{
        margin-top: 5% !important;
    }
    .listContent{
        height: 17em;
    }
    /*
    #mainContainer{
        transform: scale(0.8);}*/
}
@media(max-width: 1280px){
    #homeContent p{
        margin-left: 3em;
    }
    #homeContainer{
        height: 30em;
    }
    .desplegado{margin-left: -8em;}
    
}
@media (max-width: 1200px){
    .contenedorLista ul{
        display: flex;
flex-direction: column;
}
        .listContent{
            margin-bottom: 5em;
            margin-left: 30%;
        }
        
        #footersubscribe{
            display: none;
        }
        .footersublist{
            margin-right: 5em;
        }
        #footertextcontainer{
            margin-left: 20%;
        }
        #homeContent .contenedorTexto{
            margin-left: 8em;
        }
        

}
@media (max-width: 1100px){
    
        #homeContainer{
            height: 35em;
        }
        #homeContent p{
            margin: 0 auto;
        }
        #homeContent .contenedorTexto{
            display: flex;

        }
        #homeContent .contenedorTexto span:nth-child(2){
            margin-left: -5em;
            }
        #homeContent .contenedorTexto span:nth-child(4){
            margin-right: -5em;
        }
        .botonera{
            margin-top: 5em;
        }
        section{
            margin-left: -2em !important;
        }

        #contenedorIcono{
            margin-right: 0% !important;
        }
        #contactIcons{
            opacity: 0%;}
    }
    
@media (max-width: 900px){
    .listContent{
        margin-left: 25%;
    }  
    table{
        margin-left: 25px !important;
    }
         
}