* {box-sizing: border-box;}*::before{box-sizing: border-box}*::after{box-sizing: border-box}

a{
    color: rgb(17, 58, 8);
    text-decoration: inherit;
}

p{
    font-family: 'Luckiest Guy', cursive;
}

span{   
    line-height: 175%;
    font-family: 'Noto Sans', sans-serif;
    font-size: bolder;
}

header{
    z-index: 2;
    width: 100%;
    height: 5.5em;
    background-color: rgb(235, 206, 77);
    padding-top: 1em;
}
    
body{
z-index: 0;
background-image: url(../assets/huellas7.png),linear-gradient(90deg,rgb(238, 185, 87),
rgb(212, 228, 123));
margin: 0%;
overflow-x: hidden;
}

li{
    list-style: none;
    display: inline-block;
    margin-left:5%;
    margin-right:5% ;
}

.contenedorLista ul{

    display: flex;
    justify-content: center;
    }

h1{ 
    margin-left: 4%;
    line-height: 0.1em;
}

h2{
    margin-top: 2em;
}

h3{
line-height: 1em;
text-indent: 0.7em;
margin-top: 10%;
color: rgba(0, 0, 0, 0.733);
}

.expanded{
width: 29.8em !important;
height: 31.2em !important;
margin-top: 9.9em!important;
transition-delay: 0.6s !important;
transition: all 1s ease;
}

.desplazado{
display:block;
margin-top: 80%;
opacity: 0;
}

.listContent,.contenedorInfo{
    width: 23em;
    height: 15em;
    border: 2px solid rgba(64, 114, 8, 0.199);
    background-color: rgba(182, 192, 45, 0.9);
    text-align: center;
    transition: all 0.7s ease;
    overflow: hidden;
    border-radius: 82px 48px 82px 48px;
    -webkit-border-radius: 82px 48px 82px 48px;
    -moz-border-radius: 82px 48px 82px 48px;
    box-shadow: 13px 19px 53px 3px rgba(114,128,58,0.51);
    -webkit-box-shadow: 13px 19px 53px 3px rgba(114,128,58,0.51);
    -moz-box-shadow: 13px 19px 53px 3px rgba(114,128,58,0.51);
}

.contenedorInfo{
    width: 22em;
    height: 14em;
}

.listContent:nth-child(2){
    margin-top: -2%;
}

.listContent:hover,.contenedorInfo:hover{
transform: scale(1.1);
}

#infoRegistro{

position: relative;
left: 86em;
bottom:54em;
}

.contenedorLista{
    margin-top: 16%;
    justify-content: center;
}

#registro + .contenedorLista{
margin-bottom: 20%;}

.contenedorTexto{
    margin-right: 10%;
    margin-left: 10%;
}

.contenedorInfo .contenedorTexto{

    margin-top: 7%;
}

li .contenedorTexto{
    margin-top: 13%;
    margin-left: 35%;
}

.botonera{
    margin-left: 11em; 
}

.listIcon{
float: left;
margin-top: 20%;
margin-left: 6%;
}

.icon{
    transition: all 0.55s ease;
}

.icon:hover{
    background-color: rgba(255, 136, 0,0.25);
    border-radius: 20%;
}

.buttonHome {
    margin-top: 1.5em;
    padding: 9px 20px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .5s ease;
}
   
.buttonHome:hover {
    letter-spacing: 3px;
    background-color: rgb(199, 152, 23);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(207, 114, 8) 0px 7px 29px 0px;
}
   
.buttonHome:active {
    letter-spacing: 3px;
    background-color: rgb(204, 153, 12);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(250, 100, 0) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.arrowIcon{

    color: rgb(102, 167, 65);
    
}

.sticky{
    position:fixed;
    top: 0;
}

.content{
    padding:16px;
}

.sticky + .content {
    padding-top: 60px;
}

.homevisible{
    position: relative;
    bottom: 45em;
    left: 5em;
    transition-delay: 1.2s !important;
    transition: all 1s ease;
}

.homeoculto{
    opacity: 0;
    position: relative;
    bottom: 25.5em;
    left: -25em;
    transition-delay: 0.1s !important;
    transition: all 1.2s ease !important;
}


#navBar{
z-index: 2;
width: 100%;
height: 4em;
background-color: rgb(235, 206, 77);
}

#contactIcons{
margin-right: 1.5em;
margin-top: 0.5em;
}



#navBarContent{
float: right;   
display: flex;
margin-right: 2%;
}

#menuIcon{
    transition: all .5s ease;
    cursor:pointer;
}

#menuIcon:hover{
    background-color: rgba(255, 136, 0,0.25);
    border-radius: 10%;
    padding-top: 60%;
    padding-left: 15%;
    padding-right: 15%;   
}

#homeContent{
    transition-delay: 0.5s !important;
  transition: all 1.2s ease;
 }

#homeContainer{
    margin: 0 auto;
    margin-top: 12em;
    z-index: 1;
    width: 33em;
    height: 26em;
    border: 2px solid rgba(226, 153, 57, 0.4);
    border-radius: 6%;
    background-color: rgba(235,235,157,0.85);
    text-align: center;
    transition: all 1s ease;
    box-shadow: 13px 19px 53px 3px rgba(114,128,58,0.51);
    -webkit-box-shadow: 13px 19px 53px 3px rgba(114,128,58,0.51);
    -moz-box-shadow: 13px 19px 53px 3px rgba(114,128,58,0.51); 
}
    
#botonRegistro{
   float: left;
   margin-top: -12%;
   margin-left: 15%;
}

#left{
transform: rotate(180deg);
}

#FormularioLogIn{
    color:black;
    transition: all 2s ease;
}

#mainContainer{
    overflow: hidden;
    margin: 0 auto;
    width: 90em;
    padding-top: 4em;
    padding-bottom: 4em;
    margin-top: 6%;
    margin-bottom: 10%;
    border: 2px solid rgba(226, 153, 57, 0.4);
    border-radius: 6%;
    background-color: rgba(235,235,157,0.85);
    text-align: center;
    transition: all 1s ease;
    box-shadow: 13px 19px 53px 3px rgba(114,128,58,0.51);
    -webkit-box-shadow: 13px 19px 53px 3px rgba(114,128,58,0.51);
    -moz-box-shadow: 13px 19px 53px 3px rgba(114,128,58,0.51); 
}

#formContainer{
    width: 40em;
    padding-top: 4em;
    padding-bottom: 4em;
    margin: 0 auto;
    margin-top: 6%;
    margin-bottom: 10%;
    border: 2px solid rgba(226, 153, 57, 0.4);
    border-radius: 6%;
    background-color: rgba(235,235,157,0.85);
    text-align: center;
    transition: all 1s ease;
    box-shadow: 13px 19px 53px 3px rgba(114,128,58,0.51);
    -webkit-box-shadow: 13px 19px 53px 3px rgba(114,128,58,0.51);
    -moz-box-shadow: 13px 19px 53px 3px rgba(114,128,58,0.51); 


}

.main{
    margin-right: 15% !important;
    margin-left:  15% !important;
    max-width: 100em !important;

}

section{
    margin: 0 auto;
    justify-items: center;
    width: 74em;
    min-height: 5em;
    background: linear-gradient(rgba(182, 192, 45, 0.8),rgba(208, 214, 119, 0.8));
    border: 2px solid rgba(64, 114, 8, 0.199);
    margin-bottom: 5%;
    border-radius: 80px 80px 80px 80px;
     padding-bottom: 2em;
     box-shadow: 13px 19px 53px 3px rgba(114,128,58,0.4);
    -webkit-box-shadow: 13px 19px 53px 3px rgba(114,128,58,0.4);
    -moz-box-shadow: 13px 19px 53px 3px rgba(114,128,58,0.4); 
}

section summary{
    text-align: justify;
    text-indent: 5em;
}

section:nth-child(even){
    background: linear-gradient(-90deg,rgba(219, 175, 93, 0.75),
    rgba(228, 217, 123, 0.8));
    border: 2px solid rgba(156, 142, 14, 0.733);

}

details.estilizado{
    
    transition: all 1s ease-in-out;
    max-height: 5em;
    overflow: hidden;
}

details[open].estilizado{
    max-height: 35em;
    padding-bottom: 5em;
}

