<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script type="text/javascript" src="js/scripts.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">

    <title>Template</title>
</head>
<body onload="desplegarMenu()">
    
    <header><h1><p><br>Pet Hero</p></h1>
       
        <nav>
          
            <div id="contactIcons">
                <a href="#"><img class="icon" src="/template/assets/facebook.png"></a>
                <a href="#"><img class="icon" src="/template/assets/instagram.png"></a>
                <a href="#"> <img class="icon" src="/template/assets/twitter.png"></a>

            
            </div>

            <div id="navMenu">
                <a id="menuIcon"><img class="icon" src="/template/assets/menu.png"></a>
                <div id="unfoldableMenu"></div>
            </div>

        <div id="userFunctions">
        </div>
        </nav>

    </header>

    <main>

        <div class="homeContent">

           <h2><p>Bienvenido a PET HERO</p></h2> 

           <div class="contenedorTexto">
           <span>Este sitio está destinado a comunicar Dueños de
            mascotas con Guardianes que puedan cuidar de ellas durante
            el tiempo requerido con una tarifa a convenir. 
           </span><br><br>
           <span>¡Puedes generar reviews y compartir tus experiencias
            con otros dueños!
           </span></div>


                <div class="botonera">
                    <button>Registrate como Dueño</button>
                    <button>Registrate como Guardian</button>
                </div>

                <button id="botonRegistro">Loguearse</button>

        </div>
    </main>

    <footer></footer>
    
</body>

</html>