

body {
    margin: 0;
  }
  
  .contenedorSlider {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
  }

  #sliderHeader{

    margin: 0 auto;
    margin-top: 12%;
    width: 25em;
    height: 6em;
    border: 2px solid rgba(226, 153, 57, 0.4);

    background-color: rgba(235,235,157,0.85);
    text-align: center;
    transition: all 1s ease;

        box-shadow: 13px 19px 53px 3px rgba(114,128,58,0.51);
        -webkit-box-shadow: 13px 19px 53px 3px rgba(114,128,58,0.51);
        -moz-box-shadow: 13px 19px 53px 3px rgba(114,128,58,0.51);

        border-radius: 90px 90px 90px 0px / 55px 55px 55px 0px;
      
      }
  #sliderHeader:hover{

transform: scale(1.1);
transition: all 0.8s ease;

  }
  
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 20px 5px;
    font-size: 2rem;
  }
  
  button span {
    position: relative;
    display: inline-block;
    transform: translateX(0);
    transition: transform 0.3s ease;
  }
  
  .previous:hover span {
    transform: translateX(-10px) scale(1.2);
  }
  
  .next:hover span {
    transform: translateX(10px) scale(1.2);
  }
  
  .slider-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .slider-nav li {
    display: flex;
    flex: 2;
    text-align: center;
  }
  
  #imgSlider {
    max-width: 100%;
    display: none;
    box-shadow: 10px 10px 20px 0 rgba(94,47,59,0.2);
  }
  
  #imgSlider.active {
    display: block;
    animation: fadeImg 0.8s;
  }
  
  .slider-nav .arrow {
    flex: 0 0 15%;
  }
  
  .slider-nav a {
    flex-basis: 100%;
    display: flex;
    align-items: center;
  }
  
  .slider-nav span {
    display: block;
    width: 100%;
  }
  
  @keyframes fadeImg {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
      